# .gitignore file

# Python byte-compiled/optimized/DLL files
__pycache__/
*.py[cod]
*$py.class

# editor backups
*~

# Logs and debug files
*.log
*.dbg

# saved games
*.PSG

# special private files
docs/Inform\ Designer\'s\ Manual\,\ 4th\ Ed.\ 2001.pdf
MalwareAdventure.py
